{% extends 'navbar.html' %}

{% block title %}
    Estudiantes
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <!-- Formulario de busqueda-->
            <form method="get" class="form-inline">
                <!-- Campo de busqueda-->
                <div class="md-form">
                    <input type="text" name="q" id="query" class="form-control">
                    <label for="query"></label>
                </div>
                <!-- Campo de busqueda-->
                <!-- Campo de tipo de busqueda-->
                <div class="md-form">
                    <select name="type" id="type" class="form-control">
                        <option value="name">Nombre</option>
                        <option value="last_name">Apellidos</option>
                        <option value="number">N&uacute;mero</option>
                    </select>
                    <label for="type"></label>
                </div>
                <!-- Campo de tipo de busqueda-->
                <!-- Boton de buscar-->
                <div class="md-form">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                </div>
                <!-- Boton de buscar-->
            </form>
            <!-- Formulario de busqueda-->
            <!-- Tabla de contenido-->
            <div class="row">
                <table id="studentTable" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm">N&uacute;mero</th>
                        <th class="th-sm">Nombre</th>
                        <th class="th-sm">Apellidos</th>
                        <th class="th-sm">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Student List here by ajax request -->
                    </tbody>
                </table>
            </div>
            <!-- Tabla de contenido-->
        </div>
        <!-- Student Info-->
        <div class="col-6">
            <div class="card" style="display: none;" id="student-info">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Información del estudiante</strong>
                </h5>
                <!-- Card content -->
                <div class="card-body px-lg-5 pt-0">
                    <p id="first-name"></p>
                    <p id="last-name"></p>
                    <p id="number"></p>
                    <p id="ci"></p>
                    <p id="academic-year"></p>
                    <p id="lending"></p>
                </div>
                <!-- Card content -->
                <!-- Card footer -->
                <div class="card-footer">
                    <a href="#" class="btn btn-red" id="delete">Eliminar</a>
                    <a href="#" class="btn btn-primary" id="edit">Editar</a>
                </div>
                <!-- Card footer -->
            </div>
        </div>
        <!-- Student Info-->
    </div>


{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            const query = $('#query');
            const query_type = $('#type');
            {% if query %}
                query.val('{{ query }}');
            {% endif %}
            {% if type %}
                query_type.val('{{ type }}');
            {% endif %}

            query_type.change(function () {
                if ($(this).prop('value') === 'number') {
                    query.prop('type', 'number');
                } else {
                    query.prop('type', 'text');
                }
            });

            function get_student_detail(href) {
                $.ajax(href, {
                    method: 'GET',
                    success: function (data) {
                        $('#number').html('N&uacute;mero: ' + data['number']);
                        $('#ci').html('Carnet de identidad: ' + data['ci']);
                        $('#academic-year').html('A&ntilde;o acad&eacute;mico: ' + data['academic_year']);
                        $('#first-name').html('Nombre: ' + data['first_name']);
                        $('#last-name').html('Apellidos: ' + data['last_name']);
                        $('#student-info').attr('style', 'display: flex');
                        let lending_html = '';
                        if (data['lending'].length !== 0) {
                            lending_html = '<h4>libros prestados: </h4><ol>';
                            for (let i = 0; i < data['lending'].length; i++) {
                                lending_html += '<li>' + data['lending'][i]['book']['name'] + '</li>';
                            }
                            lending_html += '</ol>';
                        }
                        $('#lending').html(lending_html);
                    },
                    error: function (response, status) {
                        swal({
                            type: 'Error',
                            title: status,
                            text: 'No se pudo obtener la información del estudiante'
                        });
                    }
                });
            }

            function get_student_list() {
                $.ajax('{% url "lending:student-query" %}', {  // testing
                    method: 'GET',
                    data: {
                        'q': query.val(),
                        'type': query_type.val(),
                    },
                    success: function (response) {
                        const student_list = response['student_list'];
                        console.log(student_list);
                        let student_html = '';
                        for (let i = 0; i < student_list.length; i++) {
                            const student = student_list[i];
                            student_html += '<tr data-pk="' + student['pk'] + '"  data-type="detail"><td>' +
                                student['number'] + '</td><td>' + student['first_name'] + '</td><td>' +
                                student['last_name'] + '</td><td><a href="' + student['detail_url'] +
                                '" data-type="detail"><i class="fa fa-eye"></i></a>' +
                                '<a href="' + student['delete_url'] + '" data-type="delete"><i class="fa fa-remove"></i></a></td></tr>';
                        }
                        if (student_html === '') {
                            student_html = '<tr><td class="text-center" colspan="4">No se han encontrado estudiantes</td></tr>';
                        }
                        $('tbody').html(student_html);
                        $('tr td a[data-type="detail"]').click(function (event) {
                            event.preventDefault();
                            get_student_detail($(this).prop('href'));
                        });
                        $('tr td a[data-type="delete"]').click(function (event) {
                            event.preventDefault();
                            delete_student($(this).prop('href'));
                        });
                    },
                    error: function (response, status) {
                        swal({
                            type: 'Error',
                            title: status,
                            text: 'No se pudo obtener la información del servidor'
                        });
                    }
                });
            }

            function delete_student(href) {
                swal({
                    title: '¿Estás seguro?',
                    text: "No podrás recuperar la información",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Seguro',
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {
                        $.ajax(href, {
                            method: 'POST',
                            success: function (response, status) {
                                console.log(response);
                                swal(
                                    'Eliminado',
                                    response['message'],
                                    status
                                ).then(() => {
                                    get_student_list();
                                });
                            },
                            error: function (response, status) {

                            },
                        });
                    }
                });
            }

            $('form[method="get"]').submit(function (event) {
                event.preventDefault();
                get_student_list();
            });

            get_student_list();
        });
    </script>
{% endblock %}