{% extends 'navbar.html' %}

{% block title %}
    Eliminar asignatura
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col1-12">
            <h2 class="h2 text-center">Estás seguro de querer eliminar la asignatura {{ studytopic.name }}?</h2>
        </div>
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Aceptar</button>
            </form>
        </div>
    </div>
{% endblock %}