{% extends 'navbar.html' %}

{% block title %}
    Listado de asignaturas
{% endblock %}

{% block main %}
    <div class="row my-4">
        <div class="col-12 my-4 ">
            <h3 class="h3 text-center">Listado de asignaturas</h3>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Plan bibliográfico</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for studytopic in studytopic_list %}
                    <tr>
                        <td>{{ studytopic.name }}</td>
                        <td>
                            {{ studytopic.bibliographic_plan.career }}
                            {{ studytopic.bibliographic_plan.get_year_display }}
                            ({{ studytopic.bibliographic_plan.study_plan }})
                        </td>
                        <td>
                            <a href="{% url 'lending:study-topic-update' studytopic.pk %}">
                                <i class="fa fa-pencil fa-2x" data-toggle="tooltip" data-placement="top"
                                   title="Editar"></i>
                            </a>
                            <a href="{% url 'lending:study-topic-delete' studytopic.pk %}">
                                <i class="fa fa-trash fa-2x" data-toggle="tooltip" data-placement="top"
                                   title="Eliminar"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}