{% extends 'navbar.html' %}
{% load static %}

{% block title %}
    Estudiantes
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <!-- Formulario de busqueda-->
            <form method="get" class="form-inline">
                <!-- Campo de busqueda-->
                <div class="md-form">
                    <input type="text" name="q" id="query" class="form-control">
                    <label for="query"></label>
                </div>
                <!-- ./Campo de busqueda-->
                <!-- Campo de tipo de busqueda-->
                <div class="md-form">
                    <select name="type" id="type" class="form-control">
                        <option value="name">Nombre</option>
                        <option value="last_name">Apellidos</option>
                        <option value="number">N&uacute;mero</option>
                    </select>
                    <label for="type"></label>
                </div>
                <!-- ./Campo de tipo de busqueda-->
                <!-- Boton de buscar-->
                <div class="md-form">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                </div>
                <!-- ./Boton de buscar-->
            </form>
            <!-- ./Formulario de busqueda-->
            <!-- Tabla de contenido-->
            <div class="row">
                <table id="studentTable" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm">N&uacute;mero</th>
                        <th class="th-sm">Nombre</th>
                        <th class="th-sm">Apellidos</th>
                        <th class="th-sm">Acciones</th>
                    </tr>
                    </thead>
                    <tbody data-href="{% url 'lending:student-query' %}" id="student-list">
                    <!-- Student List here by ajax request -->
                    </tbody>
                </table>
            </div>
            <!-- ./Tabla de contenido-->
        </div>
        <!-- Student Info-->
        <div class="col-6">
            <div class="card" style="display: none;" id="student-info">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Información del estudiante</strong>
                </h5>
                <!-- Card content -->
                <div class="card-body px-lg-5 pt-0">
                    <p id="first-name"></p>
                    <p id="last-name"></p>
                    <p id="number"></p>
                    <p id="ci"></p>
                    <p id="academic-year"></p>
                    <p id="lending"></p>
                </div>
                <!-- ./Card content -->
                <!-- Card footer -->
                <div class="card-footer">
                    <a href="#" class="btn btn-red" data-type="delete" id="delete">Eliminar</a>
                    <a href="#" class="btn btn-primary" data-type="update" id="update" data-toggle="modal"
                       data-target="#update-student">Editar</a>
                    <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#lending-modal"
                       id="add-lending" data-create-lending-url="{% url "lending:lending-create" %}">
                        Añadir préstamo
                    </a>
                </div>
                <!-- ./Card footer -->
            </div>
        </div>
        <!-- ./Student Info -->
        <!-- Modal update student -->
        <div class="modal fade" id="update-student" tabindex="-1" role="dialog" aria-labelledby="update-student"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form method="post" id="update-student-form">
                    {% csrf_token %}
                    <div class="modal-content">
                        <!-- Modal header -->
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Editar estudiante</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- ./Modal header -->
                        <!-- Modal body -->
                        <div class="modal-body mx-3">
                            <div class="row">
                                <div class="col-5">
                                    <div class="md-form">
                                        <input type="text" name="first_name" id="student-firstname"
                                               class="form-control">
                                        <label for="student-firstname" id="student-firstname-label">Nombre</label>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="md-form">
                                        <input type="text" name="last_name" id="student-lastname" class="form-control">
                                        <label for="student-lastname" id="student-lastname-label">Apellidos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="md-form">
                                        <input type="text" name="ci" id="student-ci" class="form-control">
                                        <label for="student-ci" id="student-ci-label">Carnet de Identidad</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="md-form">
                                        <input type="number" name="number" id="student-number" class="form-control">
                                        <label for="student-number" id="student-number-label">Número</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form">
                                        <input type="number" name="academic_year" id="student-academic-year"
                                               class="form-control" min="1" max="5">
                                        <label for="student-academic-year" id="student-academic-year-label">Año
                                            académico</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Modal body -->
                        <!-- Modal footer -->
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-default">Salvar cambios</button>
                        </div>
                        <!-- ./Modal footer -->
                    </div>
                </form>
            </div>
        </div>
        <!-- ./Modal update student -->
    </div>

    <!-- Modal add lending -->
    <div class="modal fade" id="lending-modal" tabindex="-1" role="dialog" aria-labelledby="lending-modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal header -->
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Añadir préstamo</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- ./Modal header -->
                <!-- Modal body -->
                <div class="modal-body mx-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <div class="md-form">
                                    <input type="text" class="form-control" id="search-book">
                                    <label for="search-book">Nombre del libro</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="md-form">
                                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="th-sm">Nombre</th>
                                        <th class="th-sm">Editorial</th>
                                        <th class="th-sm">Año</th>
                                    </tr>
                                    </thead>
                                    <tbody id="book-list" data-href="{% url 'lending:book-list' %}">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Modal body -->
            </div>
        </div>
    </div>
    <!-- ./Modal add lending -->


{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            const query = $('#query');
            const query_type = $('#type');
            {% if query %}
                query.val('{{ query }}');
            {% endif %}
            {% if type %}
                query_type.val('{{ type }}');
            {% endif %}

            query_type.change(function () {
                if ($(this).prop('value') === 'number') {
                    query.prop('type', 'number');
                } else {
                    query.prop('type', 'text');
                }
            });
        });
    </script>
    <script src="{% static 'lending/js/student_list.js' %}"></script>
{% endblock %}