{% extends 'navbar.html' %}

{% block title %}
    Estudiantes
{% endblock %}

{% block main %}
    <form method="get">
        <label>
            <input type="text" name="q" id="query">
        </label>
        <label>
            <select name="type" id="type">
                <option value="name">Nombre</option>
                <option value="last_name">Apellidos</option>
                <option value="number">N&uacute;mero</option>
            </select>
        </label>
        <button type="submit">buscar</button>
    </form>
    <table>
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Apellidos</th>
        </tr>
        {% for student in student_list %}
            <tr>
                <td><a href="{% url 'lending:student-detail' student.pk %}">{{ student.number }}</a></td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No se encuentra ningun estudiante con ese criterio de busqueda</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            {% if query %}
                $('#query').val('{{ query }}');
            {% endif %}
            {% if type %}
                $('#type').val('{{ type }}');
            {% endif %}
        });
    </script>
{% endblock %}