{% extends 'navbar.html' %}

{% block title %}
    Administrar
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 col-md-10"><h2 class="h2 text-center">Usuarios del sistema</h2></div>
        <div class="col-12 col-md-2">
            <a href="{% url 'accounts:create' %}" class="btn btn-default">Añadir usuario</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre completo</th>
                <th>Correo</th>
                <th>Está activo</th>
                <th>Ocupación</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profile_list %}
                <tr>
                    <td>{{ profile.username }}</td>
                    <td>{{ profile.get_full_name }}</td>
                    <td>{{ profile.email }}</td>
                    <td>
                        <input type="checkbox" class="form-control" {% if profile.is_active %}checked title="activo"
                               {% else %}title="inactivo"{% endif %} data-pk="{{ profile.pk }}">
                    </td>
                    <td>{{ profile.get_occupation_display }}</td>
                    <td>
                        <a href="{% url 'accounts:detail' profile.pk %}"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'accounts:update' profile.pk %}"><i class="fa fa-pencil"></i></a>
                        <a href="{% url 'accounts:delete' profile.pk %}" data-type="delete"
                           data-pk="{{ profile.pk }}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('input[type=checkbox]').click(function () {
                let current = $(this);
                $.ajax('{% url "accounts:change_active_users" %}', {
                    method: 'POST',
                    data: {'pk': $(this).attr('data-pk')},
                    success: function (data, status) {
                        swal({
                            position: 'top-end',
                            type: status,
                            title: 'El estado del usuario ha sido cambiado',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        if (current.is(':checked')) {
                            current.prop('title', 'activo');
                        } else {
                            current.prop('title', 'inactivo');
                        }
                    },
                    error: function () {
                        swal({
                            position: 'top-end',
                            type: status,
                            title: 'Ha ocurrido un error',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                });
            });

            $('a[data-type=delete]').click(function (event) {
                event.preventDefault();
                swal({
                    title: '¿Estás seguro?',
                    text: 'No se podrá recuperar la información',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-danger',
                    cancelButtonClass: 'btn btn-default',
                    confirmButtonText: '<i class="fa fa-trash fa-2x"></i>',
                    cancelButtonText: '<i class="fa fa-close fa-2x"></i>',
                }).then((result) => {
                    if (result.value) {
                        $.ajax($(this).prop('href'), {
                            method: 'POST',
                            success: function (response, status) {
                                swal(
                                    'Eliminado',
                                    response['message'],
                                    status
                                ).then(() => {
                                    location.reload();
                                });
                            },
                            error: function (response, status) {
                                swal(
                                    'Error',
                                    'No se ha podido ejecutar',
                                    status
                                );
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}