{% extends 'navbar.html' %}

{% block title %}
    {#    Password reset#}
    Recuperar contraseña
{% endblock %}

{% block main %}
    {#    <h1>Password reset</h1>#}
    <h1>Recuperar contraseña</h1>
    {#    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>#}
    <p>¿Ha olvidado su contraseña? Introduzca su dirección de correo, y le enviaremos un email con las instrucciones
        para poner una nueva</p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {#        <button type="submit">Reset my password</button>#}
        <button type="submit">Recuperar mi contraseña</button>
    </form>
{% endblock %}