{% extends 'navbar.html' %}

{% block title %}
    Crear Usuario
{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-6">
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                {{ form.first_name }}
                <span class="text-muted text-danger">{{ form.first_name.errors }}</span>
            </div>
            <div class="col-12 col-md-6">
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                {{ form.last_name }}
                <span class="text-muted text-danger">{{ form.last_name.errors }}</span>
            </div>
            <div class="col-12 col-md-6">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                <span class="text-muted text-danger">{{ form.email.errors }}</span>
            </div>
            <div class="col-12 col-md-6">
                <label for="{{ form.occupation.id_for_label }}">{{ form.occupation.label }}</label>
                {{ form.occupation }}
                <span class="text-muted text-danger">{{ form.password2.errors }}</span>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Aceptar</button>
    </form>
{% endblock %}